<!--sidebar-menu-->
<div id="sidebar"><a href="/dashboard" class="visible-phone"><i class="icon icon-home "></i> Dashboard</a>
  <ul>
    <li class="" ><a href="/dashboard"> <i class="icon icon-cloud "></i> <span>Dashboard</span></a> </li>
 <li ><a href="/monitor"><i class="icon icon-th "></i> <span>Monitor Users</span></a></li>
    <li><a href="/profile/{{user.id}}"><i class="icon icon-fullscreen"></i> <span>Profile</span></a></li>
    <li><a href="/auth/logout"><i class="icon icon-fullscreen"></i> <span>Log Out</span></a></li>
  </ul>
<img src="/pubic/img/ched-logo.png" alt="">
</div>
<!--sidebar-menu-->

