<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i> Home</a>
        </div>
    </div>
    <!--End-breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i> Home</a>
            <a href="#" class="current">dashboard</a>
        </div>
        <!--Action boxes-->
        <h1>Welcome {{user.adminfirstName}}</h1>
        <div class="container-fluid">
            <div class="quick-actions_homepage">
                <ul class="quick-actions">
                    <li class="bg_lg span3">
                        <a href="/giaform">
                            <i class="icon-signal"></i> Click here and apply for grant </a>
                    </li>
                    <li class="bg_lo span3">
                        <a href="/downloads">
                            <i class="icon-th-list"></i> Download forms</a>
                    </li>

                </ul>
            </div>
            <!--End-Action boxes-->

        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span6">
                  
                    </div>

                </div>
                <div class="span6">
                    
                </div>



            </div>