<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="#" title="Go to Home" class="tip-bottom">
        <i class="icon-home"></i> Home</a>

         </div>
        </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Initial Application for GIA</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="/gia-upload" method="POST" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">First Name :</label>
              <div class="controls">
                <input type="text" class="span11" value="{{admin.firstName}}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Last Name :</label>
              <div class="controls">
                <input type="text" class="span11" value="{{admin.lastName}}">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">University</label>
              <div class="controls">
                <input type="text" class="span11" value="{{admin.university}}">
              </div>
            </div>
              <div class="control-group">
              <label class="control-label">Job Role</label>
              <div class="controls">
                <input type="text" class="span11" value="{{admin.occupation}}">
              </div>
            </div>
        
            <div class="control-group">
              <label class="control-label">Message</label>
              <div class="controls">
                <textarea class="span11" name="giaDesc"></textarea>
                <span class="help-block">Write a short Summary of your Research </span>
              </div>
            </div>
           <div class="control-group">
              <label class="control-label">Upload your Completed GIA form</label>
              <div class="controls">
                <div class="uploader" id="uniform-undefined"><input type="file" name="file" size="19" style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span></div>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
</div>
</div>