<div id="main">

<header>
<div class="container">
<div class="row">
<div class="span12 clearfix">
<div class="top1">
	<a href="index.html" class="logo"> <!--<img src="/public/hp/images/logo-ched.png" style="heigght: 100px; width: 100px;" alt="">--> <h4 style="color: #44C3F0; font-weight: bold;font-size: 50px;">CHED RESEARCH </h4></a>
</div>	
<div class="top2">
<div class="search-form-wrapper clearfix">
	<form id="search-form" action="search.php" method="GET" accept-charset="utf-8" class="navbar-form" >
		<input type="text" name="s" value='Search' onBlur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''">
		<a href="#" onClick="document.getElementById('search-form').submit()"></a>
	</form>
</div>
<div class="navbar navbar_">
	<div class="navbar-inner navbar-inner_">
		<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse nav-collapse_ collapse">
			<ul class="nav sf-menu clearfix">
				<li class="active"><a href="index.html">Home</a></li>				
				<li><a href="/login">Log in</a></li>
				<li><a href="/register">Register</a></li>											
				<li><a href="#">About Us</a></li>											
			</ul>
		</div>
	</div>
</div>






</div>
</div>	
</div>	
</div>	
</header>

<div id="slider">
<div class="slider_inner">
<div class="slider_inner2">
	
<ul id="carousel1" class="clearfix">
	<li>
		<div class="txt1">
			
		</div>
		<div class="txt2">
		
		</div>
		<div class="txt3">
		
		</div>
	</li>
</ul>		

	</div>	
</div>
</div>	

<div class="banners">
<div class="container">
<div class="row">
	<div class="span3 banner banner1">
		<div class="thumb-banner1">
			<div class="thumbnail clearfix">
				<figure><img src="images/banner1.png" alt=""></figure>
				<div class="caption">
					<div class="txt1">
						How It Works
					</div>
					<div class="txt2">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					</div>
					<a href="#" class="button0">Details</a>
				</div>
			</div>
		</div>
	</div>
	<div class="span3 banner banner2">
		<div class="thumb-banner1">
			<div class="thumbnail clearfix">
				<figure><img src="images/banner2.png" alt=""></figure>
				<div class="caption">
					<div class="txt1">
						What We Do
					</div>
					<div class="txt2">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					</div>
					<a href="#" class="button0">Details</a>
				</div>
			</div>
		</div>
	</div>
	<div class="span3 banner banner3">
		<div class="thumb-banner1">
			<div class="thumbnail clearfix">
				<figure><img src="images/banner3.png" alt=""></figure>
				<div class="caption">
					<div class="txt1">
						Support
					</div>
					<div class="txt2">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					</div>
					<a href="#" class="button0">Details</a>
				</div>
			</div>
		</div>
	</div>
	<div class="span3 banner banner4">
		<div class="thumb-banner1">
			<div class="thumbnail clearfix">
				<figure><img src="images/banner4.png" alt=""></figure>
				<div class="caption">
					<div class="txt1">
						Solutions
					</div>
					<div class="txt2">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					</div>
					<a href="#" class="button0">Details</a>
				</div>
			</div>
		</div>
	</div>
</div>	
</div>
</div>

<div id="content">
<div class="container">
<div class="row">
	<div class="span9">

		<h1>Welcome to Ched Research Department</h1>
		<p>
			Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede. Maecenas sit amet augue. Sed blandit lect
		</p>

		<h5>
			Curabitur nibh lectus, dapibus id, tempor eu, tempor non, erat. Proin pede eros, pharetra ut, viverra sed, egestas nec, mauris. Nulla tempor fermentum orci.
		</h5>

		<div class="thumb1">
			<div class="thumbnail clearfix">
				<figure><img src="images/home01.jpg" alt=""></figure>
				<div class="caption">
					<p>
						Curabitur convallis interdum erat. Proin feugiat sem eu nisl. Aliquam erat volutpat. Fusce a mauris vel nulla faucibus tempor. Aenean scelerisque neque aliquam nibh venenatis molestie. Integer gravida ornare lectus. Nunc vehicula elit a tellus. Nunc est ipsum, facilisis at, auctor tincidunt, adipiscing consequat, orci. Fusce pellentesque. Proin lorem. Mauris suscipit erat a turpis. Nunc mollis lectus in dolor. Curabitur velit. Curabitur commodo vestibulum justo. Praesent dictum, est ut porta adipiscing, ligula mi ultricies velit, non hendrerit mi augue id eros. Nulla mauris purus, dignissim a, eleifend ac,
					</p>					
				</div>
			</div>
		</div>





	</div>
	<div class="span3">

		<h4>Services</h4>

		<div class="accordion" id="accordion1">
			<div class="accordion-group">
			    <div class="accordion-heading">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
			        	Lorem ipsum dolor sit
			        </a>
			    </div>
			    <div id="collapse1" class="accordion-body collapse in">
			        <div class="accordion-inner">
			        	<i class="color1">Nulla tempor</i><br>Curabitur convallis interdum erat. Proin feugiat sem eu nisl. Aliquam erat volutpat.
			        </div>
			    </div>
			</div>
			<div class="accordion-group">
			    <div class="accordion-heading">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
			        	Amet consectr adi
			        </a>
			    </div>
			    <div id="collapse2" class="accordion-body collapse">
			        <div class="accordion-inner">
			        	Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			        </div>
			    </div>
			</div>
			<div class="accordion-group">
			    <div class="accordion-heading">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
			        	Praesent vestibulum
			        </a>
			    </div>
			    <div id="collapse3" class="accordion-body collapse">
			        <div class="accordion-inner">
			        	Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			        </div>
			    </div>
			</div>
			<div class="accordion-group">
			    <div class="accordion-heading">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse4">
			        	Fusce suscipit
			        </a>
			    </div>
			    <div id="collapse4" class="accordion-body collapse">
			        <div class="accordion-inner">
			        	Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			        </div>
			    </div>
			</div>
			<div class="accordion-group">
			    <div class="accordion-heading">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse5">
			        	Phasellus accumsan
			        </a>
			    </div>
			    <div id="collapse5" class="accordion-body collapse">
			        <div class="accordion-inner">
			        	Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			        </div>
			    </div>
			</div>
			
		</div>





	</div>

</div>	

<div class="hl1"></div>

<div class="row">
<div class="span9 text-right">
	<h3>It's time to improve your business today!</h3>

	<h6>Making the sale is only the beginning: you want to establish a real bond with your customers that keeps them coming back.</h6>

	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n onummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	</p>
	<a href="#" class="button0">Details</a>
</div>
<div class="span3">
	<div class="thumb-clock">
		<div class="thumbnail clearfix">
			<figure><img src="images/clock1.jpg" alt=""></figure>			
		</div>
	</div>
</div>	
</div>
</div>
</div>

<div class="join">
<div class="container">
<div class="row">
<div class="span6">

<div class="join1">
	Join us and save<br>
your time and money!
</div>
<div class="join1-corner"></div>



</div>
<div class="span6">
	<div class="join2">
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing el. Ut wisi enim ad minim ven iam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut commodo consequat.
		</p>
		<a href="#" class="button1">Join Now</a>
	</div>
</div>	
</div>	
</div>	
</div>

<footer>
<div class="container">
<div class="row">
<div class="span12">
<div class="bot clearfix">
<div class="bot1">
<div class="menu_bot">
    <ul id="menu_bot" class="clearfix">
      <li><a href="index.html">Home</a></li>
      <li><a href="index-1.html">Company</a></li>
      <li><a href="index-2.html">Services</a></li>
      <li><a href="index-3.html">Products</a></li>
      <li><a href="index-4.html">Solutions</a></li>
      <li><a href="index-5.html">Contacts</a></li>          
    </ul>
</div>
</div>	
<div class="bot2 clearfix">
<div class="txt1">Follow Us:</div>
<div class="social_wrapper">
	<ul class="social clearfix">
	    <li><a href="#"><img src="images/social_ic1.jpg"></a></li>
	    <li><a href="#"><img src="images/social_ic2.jpg"></a></li>
	    <li><a href="#"><img src="images/social_ic3.jpg"></a></li>
	</ul>
</div>
</div>
</div>
<div class="copyright">Copyright © 2013. All rights reserved.</div>
</div>	
</div>	
</div>		
</footer>





	
</div>