<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i> Home</a>
        </div>
    </div>
    <!--End-breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i> Home</a>
            <a href="#" class="current">dashboard</a>
        </div>
        <!--Action boxes-->
        <h1>Welcome {{user.firstName}}</h1>
        <div class="container-fluid">
            <div class="quick-actions_homepage">
                <ul class="quick-actions">
                    <li class="bg_lg span3">
                        <a href="/giaform">
                            <i class="icon-signal"></i> Click here and apply for grant </a>
                    </li>
                    <li class="bg_lo span3">
                        <a href="/downloads">
                            <i class="icon-th-list"></i> Download forms</a>
                    </li>

                </ul>
            </div>
            <!--End-Action boxes-->

        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-list"></i>
                            </span>
                            <h5>Research Grant
                                <code>How to apply for a research grant</code>
                            </h5>
                        </div>
                        <div class="widget-content">
                            <h4>How to Apply</h4>
                            <p>
                                <ul>
                                    <li>
                                        Lead HEIs must submit an accomplished CHED Capsule Proposal Form together with its attachments
                                        <a
                                            href="#">( DOWNLOAD HERE)</a>

                                    </li>
                                    <li>
                                        All signed proposals with attachments must be submitted via e-mail, in .PDF file format on or before TBD 2017
                                    </li>
                                </ul>
                            </p>
                            <h4>Checklist of Requirements</h4>
                            <p>
                                <ul>
                                    <li>
                                        Capsule Research Proposal approved by Board (for SUCs) / Head of HEI (for PHEI)
                                    </li>
                                    <li>
                                        <p>Required Attachments</p>
                                        <ul>
                                            <li>
                                                Curriculum vitae of all researchers, with a maximum of ten (10) members
                                            </li>
                                            <li>
                                                Work and Financial Plan
                                            </li>
                                            <li>
                                                Other necessary documentation / clearances in support of the research (e.g. University Research Council Office (URC) and/or
                                                Institutional Research Ethics Board (IRB) approval certificate
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </p>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-list"></i>
                            </span>
                            <h5>Facebook
                                <code>Like us on Facebook</code>
                            </h5>
                        </div>
                        <div class="widget-content">
                            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="800" data-height="400"
                                data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/facebook">Facebook</a>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>



            </div>