<!-- 
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Log In Page</h3>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Log in here </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <form method="post" action="auth/login">
                                <div class="form-group pmd-textfield">
                                    <label for="email" class=""></label>
                                    <input type="email" class="form-control " name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted ">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group pmd-textfield ">
                                    <label for="password" class=""></label>
                                    <input type="password" class="form-control " name="password" placeholder="Password">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div> -->

<div id="main">

    <header>
        <div class="container">
            <div class="row">
                <div class="span12 clearfix">
                    <div class="top1">
                        <a href="index.html" class="logo">
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="top2">
                        <div class="search-form-wrapper clearfix">
                            <form id="search-form" action="search.php" method="GET" accept-charset="utf-8" class="navbar-form">
                                <input type="text" name="s" value='Search' onBlur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''">
                                <a href="#" onClick="document.getElementById('search-form').submit()"></a>
                            </form>
                        </div>
                        <div class="navbar navbar_">
                            <div class="navbar-inner navbar-inner_">
                                <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                <div class="nav-collapse nav-collapse_ collapse">
                                    <ul class="nav sf-menu clearfix">
                                        <li class="active">
                                            <a href="/">Home</a>
                                        </li>
                                        <li class="">
                                            <a href="/login">Log In</a>
                                        </li>
                                        <li class="">
                                            <a href="/register">Register</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            
                
            <div class="row">
              
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Log in here </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <form method="post" action="auth/login">
                                <div class="form-group pmd-textfield">
                                    <label for="email" class=""></label>
                                    <input type="email" class="form-control " name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted ">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group pmd-textfield ">
                                    <label for="password" class=""></label>
                                    <input type="password" class="form-control " name="password" placeholder="Password">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </header>






</div>